
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
*.local # Also covers .env.local

# Environment Variables
.env
.env*.local
!.env.example
.env.*.local

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# macOS
.AppleDouble
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
